{% extends "layout.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    <ol id="posts">
    {% for post in posts %}
        <li>
            <h3><a href="/posts/{{ post.path}}">{{ post.title }}</a></h3>
            <p class="published">Written on:
            {{ post.published|date }}</p>
            {% autoescape false %} {{ post.excerpt|youtube_embed|markdown }} {% endautoescape %}
            <p><a href="/posts/{{ post.path}}">More &raquo;</a>
            <!--<p>Tags: {{ post.tags }}</p>-->
        </li>
    {% endfor %}
    </ol>
{% endblock %}
